* {
	border: none;
	border-radius: 5px;
    font-family: "JetbrainsMono Nerd Font";
	font-size: 10px;
    font-weight: bold;
	min-height: 10px;
}

window#waybar {

    background-color: transparent;
}

.modules-left, .modules-center, .modules-right {
    margin: 4px;
    transition: none;
    background: rgba(10, 10, 30, 0.674);
    color: #b1c7fc;
}

#custom-launcher, #cpu, #memory, #temperature, #hyprland-workspaces,
#clock,
#tray, #network, #blacklight, #custom-micro,
#pulseaudio, #battery, #custom-power {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    transition: none;
    color: #b1c7fc;
    transition: 0.3s;
}

#workspaces button {
    color: #b1c7fc;
    font-weight: bold;
    transition: 0.3s;
}

#workspaces button:hover {
    background: transparent;
    color: #8595b8;
}
/*
#custom-launcher {
    padding-left: 12px;
}

#pulseaudio.muted {
    color: #c1d8dc;
    background: #243640; 
    border-bottom: 3px;
    border-style: solid;
    border-color: #88aab8;
    transition: 0.3s;
}

#network.disconnected {
    color: #c1d8dc;
    background: #243640; 
    border-bottom: 3px;
    border-style: solid;
    border-color: #88aab8;
}
#custom-power:hover, #custom-launcher:hover {
    background: #88aab8;
    color: #243640;
    border-color: #88aab8;

}

#workspaces button:hover {
    background: transparent;
    color: transparent;
    box-shadow: none;
    text-shadow: none;
}
*/
